@import "src/css/vars";

.vertical-line {
  border-right: 2px solid $grey;
  margin-left: 15px;
  margin-right: 15px;
}

.my-container {
  background-color: $black;
  font-size: 32px;
  padding: 10px 1em;
  white-space: nowrap;

  display: flex;
  justify-content: space-between;
}

