<div class="container">
  <div class="row full-screen align-items-center">
    <div class="col-12  justify-content-center">
      <div>
        <h1>Where to?</h1>
      </div>
      <form (submit)="onSubmit()" #f="ngForm">
        <div class="container row justify-content-center mx-0 px-0">
          <div class="search">
            <mat-icon>search_icon</mat-icon>
            <mat-form-field floatLabel="never">
              <mat-label>search for a city</mat-label>
              <input matInput [(ngModel)]="city" name="city">
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-center pt-4 mx-0 px-0">
          <button class="submit-button">See your trip</button>
        </div>
      </form>
    </div>
  </div>
</div>
