<mat-card *ngIf="place" style="margin-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="container">
          <img [src]="place.photoUrl" style="height: 100%; width: 100%; object-fit: cover">
        </div>
      </div>

      <div class="col-md-9">
        <div class="container">
          <div class="d-flex justify-content-between">
            <span class="title">{{place.title}}</span>
            <button class="button-without-style" (click)="placeService.toggleMark(place.id)">
              <mat-icon aria-hidden="false" aria-label="bookmark">{{getBookmarkImage()}}</mat-icon>
            </button>
          </div>
          <div style="flex: 1; min-height: 100px" class="d-flex flex-row justify-content-between">
            <div>
              <p class="description">{{place.description}}</p>
            </div>
            <div>
              <div *ngIf="showPrice"><span style="font-size: 25px" class="grey">{{place.price}}$</span></div>
            </div>
          </div>
          <ngx-material-rating [max]="5" [dense]="true" (change)="change($event)" color="accent"></ngx-material-rating>
        </div>
      </div>
    </div>
  </div>
</mat-card>

