<form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && submit(loginForm)">

  <div class="mb-3 valid" [ngClass]="{error: loginForm.submitted && loginForm.controls.email?.invalid}">
    <input placeholder="Email" name="email" ngModel autocomplete="email" required>
    <span>email invalid</span>
  </div>
  <div class="mb-3 valid" [ngClass]="{error:1 || loginForm.submitted && loginForm.controls.email?.invalid}">
    <input placeholder="Password" type="password" name="password" ngModel autocomplete="password">
    <span>invalid password</span>
  </div>
  <button class="login-button mb-3" type="submit">Login with Email</button>
</form>
