<div>
  <h3 class="title">Sign up with Email</h3>
  <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && submit(loginForm.form.value)">
    <div class="mb-3 valid" [ngClass]="{error: loginForm.submitted && loginForm.controls.username?.invalid}">
      <input placeholder="Username" name="username" ngModel autocomplete="username" required>
      <span>username invalid</span>
    </div>

    <div class="mb-3 valid" [ngClass]="{error: loginForm.submitted && loginForm.controls.email?.invalid}">
      <input placeholder="Email" name="email" ngModel autocomplete="email" required email>
      <span>email invalid</span>
    </div>

    <div class="mb-3 valid" [ngClass]="{error: loginForm.submitted && loginForm.controls.password?.invalid}">
      <input placeholder="Password" type="password" name="password" ngModel autocomplete="password" required>
      <span>invalid password</span>
    </div>
    <button class="login-button mb-3" type="submit">Sign up with Email</button>
  </form>
</div>
